
body {
    background-color: darkslategrey;
    color: white;
}
#header {
    text-align: center;
}



.col-3, .col-6 {
    padding: 35px;
    text-align: center;
    font-size: 8;
}
.col-3:hover, .col-6:hover {

    text-decoration: underline;
}